.contact_img {
  width: 700px;
  position: relative;
}

.contactdesc {
  width: 660px;
  position: absolute;
  height: 600px;
  top: 240px;
  left: 310px;
}

.Contact {
}

.Contact_tit {
  padding-top: 120px;
  font-size: 51px;
  font-family: Sniglet;
}

.cont_icons {
  position: absolute;
  top: 320px;
  left: 400px;
}

.cont_icon {
  border-radius:75px;
  width: 60px;
  height: 60px;
  margin-top: 22px;
}


.cont_txt__one {
  font-size: 18px;
  font-family: Montserrat Alternates;
  left: 100px;
  top: 43px;
  position: absolute;
}

.cont_txt__two {
  font-size: 18px;
  font-family: Montserrat Alternates;
  left: 100px;
  top: 120px;
  position: absolute;
}

.cont_txt__three {
  font-size: 18px;
  font-family: Montserrat Alternates;
  left: 100px;
  top: 205px;
  position: absolute;
}

.cont_txt__four {
  font-size: 18px;
  font-family: Montserrat Alternates;
  left: 100px;
  top: 290px;
  position: absolute;
}

.cont_txt__five {
  font-size: 18px;
  font-family: Montserrat Alternates;
  left: 100px;
  top: 360px;
  position: absolute;
}

