.AddToCart button {
  padding: 10px 10px;
  margin-right: 5px;
  background-color: #f5b0bb;
  border: none;
  color: rgb(255, 244, 244);
  border-radius: 20px;
  font-family: inherit;
  transition: all 100ms linear;
  font-family: Sniglet;
  margin-bottom: 15px;
  margin-top: 15px;
}
.AddToCart button:hover {
  background-color: rgb(82, 12, 82);
}

.AddToCart .product_id {
   font-size: 20px;
   padding-top: 15px;
}