.card {
  width: 24%;
	transition: 0.5s;
	border: 1px solid var(--Gray, #f6f6f6);
	background: #fff;
	margin-bottom: 30px;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0px 0px 18px 0px rgba(85, 83, 83, 0.25);
}

.card_img {
 align-items: center;
 justify-content: center;
}

.card_tit {
  padding: 10px;
}

.card_txt {
  padding: 15px;
  padding-top: 15px;
}

@media (max-width: 990px) {
  .card {
    width: 32.3%;
  }
  .home_tit{
    font-size: 34px;
  }
  .CategoryList a{
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 780px) {
  .card {
    width: 48%;
  }
  .homeBtn{
    margin-left: 0;
  }
}
@media (max-width: 540px) {
  h2.sec_tit{
    font-size: 28px;
  }
}
  @media (max-width: 420px) {
  .card {
    width: 100%;
  }
}