/* .CategoryList{
    background: rgb(245, 245, 247);
    padding: 10px 0;
    width: 100%;
}

.CategoryList a{
    display: flex;
    padding: 3px 10px;
    transition: 0.3s;
}

.CategoryList a:hover{
    background: rgb(214, 214, 215);
}

.dropdownBtn{
    padding-bottom: 5px;

}

.dropdownContent {
    display: flex;
} */


.CategoryList {
    background: #00000000;
    padding: 10px 0;
    margin-top: 30px;
    border-radius: 10px;
    border: solid white;
    max-height: 30vh;
}

.dropdownBtn {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-bottom: 5px;
}

.CategoryList a {
    display: block;
    padding: 3px 80px;
    transition: 0.3s;
    text-align: center;
    padding-bottom: 40px;
    font-family: Montserrat Alternates;
}
.CategoryList ul {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.CategoryList a:hover {
  scale: 1.1;
  padding-bottom: 5px;
}

.dropdownBtn {
    width: 100%;
    text-align: center;
    font-family: 'Sniglet';
    font-weight: 600;
    padding-bottom: 15px;
}