.Auth {
  white-space: nowrap;
}
.Auth .blueBtn {
  background-color: #000000;
  border: 0;
  padding: 5px 10px;
  color: white;
  border-radius: 100px;
  font-family: Sniglet;
  margin-left: 7px;
  transition: all 100ms linear;
  cursor: pointer;
}
.Auth .blueBtn:hover {
  background-color: #370247e3;
}
.Auth .icon {
  background-color: transparent;
  border: none;
  font-size: 20px;
  transform: translateY(3px);
  display: none;
}